# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Environments
# =====================
.env
backend/victron_api/.env

# =====================
# IDE
# =====================
.idea/
.vscode/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
